body {
    background-color: lightgray;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 66px;
}
.navibar_logo {
    float: left;
    width: 120px;
}
.navibar_logo img {
    width: 100%;
    height: auto;
}
.navibar_menu {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    float: right;

}
.navibar_menu li {
    margin-left: 20px;
    text-align: center;
}
.navibar_menu ul {
    float: right;
}